/* LESS Document */

/* LESS Document */

.appui-ai-chat {
  .autoGrowTextarea {
    width: 300px;
    min-height: 18px;
    padding: 2px;
    resize: none;
    overflow: auto;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 4px;
    font-family: "Inconsolata", monospace;
    font-size: 1rem;
  }
  .flex-direction-column {
    flex-direction: column;
  }

  .right-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .conversation-container {
    align-items: center;
    flex-direction: column;
  }

  .overflow-auto {
    overflow: auto;
  }

  .left-margin {
    margin-left: var(--xsspace);
  }

  .message {
    display: inline-block;
    min-width: 100px;
    max-width: 400px;
  }

  .conversation-item {
    flex-wrap: wrap;
    border: solid 1px black;
  }

  .flex-start {
    align-self: flex-start;
  }

  .flex-end {
    align-self: flex-end;
  }

}